<!DOCTYPE html>
<html>
  <head>
    <title>Todos App</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h1>Todos</h1>
    </header>
    <div id="app">