body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

header {
  padding: 0 0 20px 0;
}

footer {
  padding: 20px 0 0 0;
}

#app {
  padding: 20px;
  border: 1px solid #eeeeee;
  width: 400px;
}

#create_form input {
  padding: 5px;
  margin: 10px 0;
  width: 100%;
}

#submit_btn {
  width: 50px!important;
  background-color: #00B7FF;
  color: #ffffff;
}

.success-alert {
  padding: 5px 10px;
  background-color: green;
  color: #ffffff;
}

.error-alert {
  padding: 5px 10px;
  background-color: red;
  color: #ffffff;
}

