<!DOCTYPE html>
<html>
  <head>
    <title>Products Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/latest.css' />
  </head>
  <body>
    <h1>Products Page</h1>
    <p>Product Id: <%= id %></p>
    <p>Product Name: <%= name %></p>
    <p>Product Price: <%= price %></p>
  </body>
</html>
